* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 12px;
}
body{
    background-color: maroon;
    font-family: 'Barlow',sans-serif;
}
/* Header */

header {
    position: absolute;
    padding-top: 3vh;
    padding-inline: 5vw;
    width: 100%;
    z-index: 99;
}

header a {
    text-decoration: none;
    color: white;
}

.navbar ul {
    position: absolute;
    top: -900%;
    inset-inline: 0;
    width: 100%;
    background-color: rgba(0,0,0, 0.3);
    backdrop-filter: blur(8px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: top 200ms ease-in-out;
}

.navbar ul li {
    list-style: none;
    width: 100%;
}

.navbar ul li:first-child a {
    padding-top: 3.5vh;
}

.navbar ul li a {
    display: block;
    padding-block: 2.5vh;
    width: 100%;
    border-bottom: 1px solid white;
    text-align: center;
    font-size:1.7rem;
    transition: color 250ms ease-in-out;
}

.navbar ul li:last-child a{
    border: none;
}
.navbar ul li a:hover{
    color: rgba(0,0,0, 0.8);
}
.active{
    background-color: rgba(0,0,0, 0.5);
}

/* hamburger */
.hamburger {
    position: absolute;
    right: 6vw;
    top: 1vh;
    padding-block: 25px;
    padding-inline: 20px;
}

header input {
    display: none;
}

header input[type=checkbox]:checked~.navbar ul {
    top: 0;
}

.bar::before,
.bar::after,
.bar {
    width: 25px;
    height: 3px;
    display: block;
    background-color: white;
    transition: transform 200ms ease-in-out;
    z-index: 99;
}

.bar::before {
    content: "";
    position: absolute;
    top: 30%;
}

.bar::after {
    content: "";
    position: absolute;
    top: 65%;
}

header input[type=checkbox]:checked~.navbar .bar::before {
    display: none;
}

header input[type=checkbox]:checked~.navbar .bar::after {
    transform: translateY(-2px) rotate(-90deg);
}

header input[type=checkbox]:checked~.navbar .bar {
    transform: rotate(45deg);
}

main {
    overflow: hidden;
}

.hero {
    margin-inline: auto;
    padding-top: 20vh;
    height: 100vh;
    background-image: url("../images/hero-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10vh;
}

.banner-images {
    width: min(300px, 75vw);
    height: min(300px, 75vw);
    position: relative;
    animation: rotate-img 10s linear infinite;
}

.banner-images img {
    width: 20%;
    animation: offset-img 10s linear infinite;
}

.banner-images img:nth-child(1) {
    position: absolute;
    inset-inline: 0;
    bottom: 85%;
    margin-inline: auto;
}

.banner-images img:nth-child(2) {
    position: absolute;
    left: 85%;
    top: 12%;
}

.banner-images img:nth-child(3) {
    position: absolute;
    left: 85%;
    top: 63%;
}

.banner-images img:nth-child(4) {
    position: absolute;
    inset-inline: 0;
    margin-inline: auto;
    top: 85%;
}

.banner-images img:nth-child(5) {
    position: absolute;
    right: 85%;
    bottom: 12%;
}

.banner-images img:nth-child(6) {
    position: absolute;
    right: 85%;
    bottom: 63%;
}

@keyframes rotate-img {
    from { transform: rotateZ(0deg); }
    to { transform: rotateZ(360deg); }
}

@keyframes offset-img {
    from { transform: rotatez(360deg); }
    to { transform: rotateZ(0); }
}

.hero-content {
    text-align: center;
    color: white;
}

.hero-title {
    font-weight: bold;
    font-size: 1.6rem;
    margin: 0;
}

.hero-title strong {
    font-size: 3rem;
    line-height: 1.4;
}


@media screen and (min-width: 768px) {
    .hamburger {
        display: none;
    }

    header {
        display: grid;
        grid-template-columns: 1fr 2fr 1fr 3fr 1fr;
        align-items: center;
    }

    header h1 {
        display: inline;
        grid-column-start: 2;
    }

    .navbar {
        grid-column-start: 4;
    }

    .navbar ul {
        background-color: transparent;
        position: static;
        flex-direction: row;
        gap: 2rem;
        justify-content: flex-end;
    }

    .navbar ul li {
        width: fit-content;
    }

    .navbar ul li:first-child a {
        padding-top: 1.5vh;
    }

    .navbar ul li a {
        padding-block: 1.5vh;
    }

    .navbar ul li a {
        border: none;
        font-size: 1.1rem;
    }
    .active{
        background: transparent;
    }

}

@media screen and (min-width: 1000px) {
    :root {
        font-size: 16px;
    }


    .hero {
        flex-direction: row-reverse;
        width: 100%;
        justify-content: space-around;
        padding-block: 3rem;
    }

    .hero-title {
        text-align: left;
    }
}